twitterWorkflow.json
{
  "name": "twitter working",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b87d616f-3621-465a-9be2-9b16af766a0e",
      "name": "When chat message received",
      "webhookId": "cc846787-8dba-420a-8e90-3a621fbfc94f"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI ghostwriter for Ali Shan (typs.dev) that writes short, edgy, and sweet tweets based on a given topic; your style should be concise, bold, and thought-provoking—never long, never corporate, never fluffy. Every tweet should feel sharp, witty, and slightly rebellious, crafted for a tech Twitter audience that thrives on quick takes and contrarian insights. Keep the length under 20 words, stick to one-liners or minimal two-liners that hit hard, and make sure they read fast and punchy. Use references to coding, AI, startups, and the grind when relevant, but keep them subtle and natural. Avoid clichés, buzzwords, and emojis—your goal is to create scroll-stopping tweets that feel smart, modern, and raw, the kind that provoke replies, retweets, or a double take from tech-savvy readers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "bde4b3e8-abed-4309-b7e6-2d4b309317d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "7c3a3983-2769-49a0-96b9-96c3029c625a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AQGWpFdSZZ6MdoSR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "cc64a149-5324-47bc-a62a-426a41f7a5be",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "pG6674y48UbvmpQh",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "012a591c-05df-4790-a93c-f0b5f50fde88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ca8304d7411edc217181c9193f08aa02b3bf5b8b3d56b325b778106bceda800"
  },
  "id": "PT7H7EOKg2kuRnqH",
  "tags": []
}